* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif !important;
    }
  
  .App {
    background-color: #161718;
    background-image: url("../images/little-prince-universe-science-fiction-fantasy-art-wallpaper-08d60d483000cc48803c31ce1802c41a.jpg");
    font-size: 2rem;
    height: 100vh;
    width: auto;
  }