* {
    margin: 0;
    padding: 0;
    font-family: "Hind Vadodara", sans-serif !important;
  }
  
  .App {
    background-color: #161718;
    max-width: 992px;
    margin: auto;
    height: 800px;
  }