//Homepage
.homeContainer {
  background-image: url("../images/little-prince-universe-science-fiction-fantasy-art-wallpaper-08d60d483000cc48803c31ce1802c41a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: auto;
}

.title {
  align-items: center;
  color: #fff;
  text-align: center;
  padding-top: 10%;
  font-size: 15vh !important;
  font-family: 'Bowlby One SC', cursive !important;
}

.buttonContainer {
  padding: 15vh 25vw;
  display: flex;
  justify-content: space-between;
}

.homeButton {
  background-color: black !important;
  color: #fff !important;
  border-color: black !important;
  font-size: 4vh !important;
} //both buttons on homepage

.homeButtonStar:hover {
  border: 1px solid #fff !important;
  background-color: rgb(237, 133, 66) !important;
  transition: 0.3s;
}

.homeButtonUniverse:hover {
  border-color: #fff !important;
  background-color: rgb(90, 198, 94) !important;
  transition: 0.3s;
}
