//Navbar
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    background-color: #181a1b;
    padding: 1rem 2rem 0.5rem 2rem !important;
  }
  
  .home_link {
    color: #fff;
    text-decoration: none;
    font-family: 'Bowlby One SC', cursive !important;
    font-size: 4rem;
  }
  
  .navLinkContainer {
    align-items: flex-end;
  }

  .navbar__link {
    display: inline-flex;
    list-style: none;
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;
    color: white;
    background-color: #1d1e1f;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar__link--active {
    color: #fff !important;
  }
  
  .navMenu_link:hover {
    border: 1px solid #fff;
    background-color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .activeStars {
    background-color: rgb(237, 133, 66)  !important;
  }
  
  .activeUniverses {
    background-color: rgb(90, 198, 94) !important;
  }
  
  .activeImprint {
    background-color: #6c757d;
  }