* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  background-color: #161718;
  max-width: 992px;
  margin: auto;
  height: 800px;
}

//Navbar
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(197, 196, 196);
  background-color: #181a1b;
  padding: 10px 20px;
}

.home_link {
  color: #fff;
  text-decoration: none;
}

.navLinkContainer{
  align-items: flex-end;
}
.navbar__link {
  display: inline-flex;
  list-style: none;
  display: inline-block;
  margin: 5px;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px;
  color: white;
  background-color: #1d1e1f;
  transition: all 0.3s ease-in-out;
}

.navbar__link--active{
  color: #fff !important;
}

.navMenu_link:hover {
  border: 1px solid #43698c;
  background-color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.activeStars{
  background-color:rgb(241, 122, 44) !important;
}

.activeUniverses{
  background-color:rgb(81, 181, 84) !important;
}

.activeImprint{
background-color: #6c757d;}

//Homepage
.homeContainer {
  background-image: url("../images/little-prince-universe-science-fiction-fantasy-art-wallpaper-08d60d483000cc48803c31ce1802c41a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: auto;
}

.title {
  align-items: center;
  color: #fff;
  text-align: center;
  padding-top: 20%;
  font-size: 10vh;
  font-family: 'Hind Vadodara', sans-serif;
   /* font-family: 'Hind Vadodara', sans-serif;
  font-family: 'Lalezar', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Montserrat Subrayada', sa ns-serif;
  font-family: 'Michroma', sans-serif;*/
}

.buttonContainer{
  padding: 5vh 15vw;
  display: flex;
  justify-content: space-between;
}

.imprintContainer{
  padding-top: 70vh;
  display: flex;
  justify-content: space-around;
}

.homeButton {
  color: #fff !important;
  border-color: #fff !important;
} //all three buttons on homepage

.homeButtonStar:hover {
  border: 1px solid rgb(139, 71, 26) !important;
  background-color:rgb(241, 122, 44) !important;
  transition: 0.3s;
}

.homeButtonUniverse:hover {
  border-color: rgb(39, 92, 41) !important;
  background-color:rgb(81, 181, 84) !important;
  transition: 0.3s;
}

//Tables 
.tableHeader {
  background-color: #4c4e50;
  color: #fff;
}

.tableHeaderStars{
  background-color:rgb(146, 88, 50) !important;
}

.tableHeaderUniverses{
  background-color:rgb(63, 145, 66) !important;
}

.table{
  color: #fff !important;
  text-align: center;
  align-content: center;
}

.formField {
  padding: 15px;
  margin: 5px auto;
  text-align: center;
  width: 50vw;
}

.addButton{
  margin-top: 1rem !important;
  border-color: #4c4e50 !important;
}

.addButtonStars{
  background-color:rgb(146, 88, 50) !important;
  border: 1px solid rgb(139, 71, 26) !important;
}

.addButtonUniverses{
  background-color: rgb(63, 145, 66) !important;
  border-color: rgb(39, 92, 41) !important;
}

.imprintCopy{
  color:#6c757d;
  text-align: center; 
  padding-top: 10%;
}