//Tables
.table th{
    padding:0.25rem !important;
  }
  
  .tableHeader {
    background-color: #4c4e50;
    color: #fff;
  }
  
  .tableHeaderStars {
    background-color: rgb(146, 88, 50) !important;
  }
  
  .tableHeaderUniverses {
    background-color: rgb(63, 145, 66) !important;
  }
  
  .table {
    color: #fff !important;
    text-align: center;
    align-content: center;
    width: 70vw;
   }
  
  .formField {
    padding: 15px;
    margin: 5px auto;
    text-align: center;
    width: 20rem;
  }
  
  .addButton {
    margin-top: 1rem !important;
    border-color: #4c4e50 !important;
  }
  
  .addButtonStars {
    background-color: rgb(146, 88, 50) !important;
  border-color: #fff !important;
    //border: 1px solid rgb(139, 71, 26) !important;
  }
  
  .addButtonUniverses {
    background-color: rgb(63, 145, 66) !important;
    border-color: #fff !important;
    //border-color: rgb(39, 92, 41) !important;
  }